[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
sklearn = "*"
jupyterlab = "*"
tensorflow = "*"
tslearn = "*"
better-exceptions = "*"
scipy = "*"
importlib-metadata = "==1.7.0"

[requires]
python_version = "3.6"
